{% extends 'base.html.twig' %}

{% block title %}About {{ book.title }} {% endblock %}

{% block body %}
<body>
  <style>
      .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <h1>{{ book.title }}</h1>

  <table class="table">
      <tbody>
          <tr>
              <th>Genres</th>
              <td>{{ book.genres|join(', ') }}</td>
          </tr>
          <tr>
              <th>Author</th>
              <td>{{ book.author }}</td>
          </tr>
          <tr>
              <th>Collection</th>
              <td> <a href="/bookcollection/{{book.collection.id}}">{{book.collection}} </a> </td>
          </tr>
      </tbody>
  </table>
</body>
{% endblock %}