{% extends 'base.html.twig' %}

{% block title %}Bookcase index{% endblock %}

{% block body %}
<body>
    <header>
    </header>
    <main>
        <h1>Bookcase index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Released</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for bookcase in bookcases %}
                <tr>
                    <td>{{ bookcase.id }}</td>
                    <td>{{ bookcase.description }}</td>
                    <td>{{ bookcase.released ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_bookcase_show', {'id': bookcase.id}) }}">show</a>
                        <a href="{{ path('app_bookcase_edit', {'id': bookcase.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
</body>
{% endblock %}
