{% extends 'base.html.twig' %}

{% block title %}Bookcase{% endblock %}

{% block body %}
    <main>
        <h1>Bookcase {{bookcase}}</h1>

        <h2>Owned by <a href="{{ path('app_membre_show', {'id' : bookcase.membre.id}) }}">{{ bookcase.membre }}</a></h2>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ bookcase.id }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ bookcase.description }}</td>
                </tr>
                <tr>
                    <th>Released</th>
                    <td>{{ bookcase.released ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
        
        <h2>Books</h2>
        <ul>
        {% for book in bookcase.books %}
        <li>
            <a href="{{ path('app_bookcase_book_show', {'bookcase_id': bookcase.id, 'book_id' : book.id}) }}">{{ book }}</a>
        </li>
        {% endfor %}
        </ul>

        <a href="{{ path('app_bookcase_edit', {'id': bookcase.id}) }}">edit</a>

        {{ include('bookcase/_delete_form.html.twig') }}
    </main>
{% endblock %}
